#header {
    
    color: #fff;
    background: #C97124;
    text-align: center;
    margin: 10px;
	width: 50%;
  }

  #instructions {
    padding: 20px;
    color: #68904E;
    background: #FAE6CD;
    text-align: left;
    margin: 10px;
	width: 100%;
  }

  #compPick {
      float: left;
    font-size: 30px;    
    padding: 27px;
    color:black;
    background: #5BC97E;
    text-align: left;
    margin: 10px;
	width: 35%;
  }

  #winsLosses {
      float: left;
    padding: 5px;
    color:black;
    background: #4AFDFE;
    text-align: left;
    margin: 10px;
	width: 30%;
  }

  #yourScore2 {
    padding: 4px;
    color: #fff;
    background:#2CA194;
    text-align: left;
    margin: 10px;
	width: 50%;
  }

  #yourScore {
    font-size: 30px;    
    padding: 20px;
    color: #fff;
    background:#2CA194;
    text-align: left;
    margin: 10px;
	width: 45%;
   }

  .images {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    overflow: auto;
  }

/* general */
body {
	background-image: url("../images/background.png")
}

.container {
    width: 100%;
    max-width: 640px;
    margin: 5px auto;
    clear: both;
    float: left;
  }

    
h1,
h2,
h3,
li,
p {
  margin-bottom: 20px;
}



h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  /* border-bottom: 3px solid #ddd; */
}

